body  {
  margin: 0;
  background-color: #282828;
  font-family: 'Merriweather Sans', sans-serif;
}

h2 {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 40px;
}





nav {
  
  margin-top: 20px;
  height: 50px;
}

.top-nav{
  position: fixed;
  background-color: black; 
  color: white;
  z-index: 115;
  margin-top: 0px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.logo {
    background-color: gray;
  margin-top: 0px;
  height: 0px;
  line-height: 50px;
}



.menu{
  line-height: 50px;
  display: none;
}

.menu ul{
  list-style-type: none;

}


.menu ul li a{
  displaY: block;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;  
  font-size: 20px;
}

.menu ul li a:hover{
 background-color: rgba(0, 0, 0, 0.9);
}

.collapsed-menu{
  display: block;
  position: absolute;
  width: 100vw;
  margin-top: 50px;
  margin-left: -30px;
  background-color: black;
}

#collapse{
  line-height: 40px;
  
  
}

.hamburger-hid{
  display: none;
}

@media (min-width: 768px) { 

  .collapsed-menu{
  display: block;
  position: relative;
  margin-top: 50px;
  margin-left: -30px;
  background-color: black;
}
  
.top-nav{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 0;
  margin-top: 20px;
  border-width: 0px 0px 0px 0px;
}

.sticky-nav{
  position: fixed;
  background-color: black; 
  color: white;
  z-index: 115;
  margin-top: 0px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}
  .menu-sticky ul li a:hover{
    color: slategray;
     background-color: rgba(0, 0, 0, 0);
  }
  
  

  .logo{
  position: absolute;
  height: 80px;
  margin-top: -10px;
  background-color: black;
  line-height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-shadow: 2px 2px gray;
  font-size: 25px;
}

.logo-scroll{
  background-color: gray;
  margin-top: 0px;
  height: 0px;
  line-height: 50px;
}
  
}


.header{
  height: 100vh;
  background-image: url('img/headerbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display:flex; 
  justify-content: flex-end; 
  flex-direction: column
  
}

.header-content{
  color: white;
  padding-bottom: 50px;
  
 }


.hc-one{
  display: table;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-style: solid;
  border-width: 10px;
  border-color: rgba(0, 0, 0, 0.4);
  font-size: 30px;
 
}




#about{
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 18px;
}

#trainers{
  background-color: slategray;
  padding: 40px 0px;
  color: white;
}

#classes{
  background-color: slategray;
  padding: 40px 0px;
  color: white;
}

.t{
  border-style: solid;

}

.fitness-quote{
  background-color: black;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 40px;
  padding: 40px 0px;
}

.testimonial{
  background-color: #484848;
  color: white;
}


.map{
  background-image:url('img/map.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-color: white;
  height: 300px;
    display:flex; 
  justify-content: center; 
  flex-direction: column
}

.footer{
  color: white;
  margin-top: 300px;
}

#contact{
  margin-top: -60px;
}

.contact{
  position: absolute;

  }

.contact2{
  position: relative;
  bottom: 150px;
}

.contact3{
  
}

input{
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 25px;
  font-size: 20px;
  box-sizing: border-box;
  background-color: silver;
  border-width: 0px;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 20px;
    resize: none;
    background-color: silver;
    border-width: 0px;
}


.btn-class{
  
  width: 60%;
    background-color: #484848;
  border-style: solid;
  border-color: silver;
  border-width: 1px;
  color: white;
}

.btn-class:hover
{
background-color: slategray;
}

.footer-text {
  line-height: 3;
}

.t1{
  border-style: solid;
  
}

a i {
  color: white;
}

a i:hover{
  color: slategray
}